body{
    margin: 0;
    background-color: lightgray;
}

header{
    align-items: center;
    background-color: black;
    display: flex;
    height: 50px;
    justify-content: flex-end;
}

.menu-burg{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 30px;
    justify-content: space-evenly;
    margin-right: 15px;
    width: 30px;
} 
nav{
    background-color: black;
    display: none;
    /* display: flex;
    justify-content: space-around; */
}
nav a{
    color: white;
    text-decoration: none;
}
span{
    display: block;
    background-color: white;
    height: 3px;
    width: 100%;
}
.visivel{
    display: block;
}